{% extends "bootstrap/base.html" %}
{% block content %}
<html>
<head>
<style>
    tabla, th, td {
        border: 1px solid black;
        text-align: center;
        border-collapse: solid black;
    }
    .center {
        text-align: center;
        margin: auto;
        width: 80%;
        border: 3px solid rgba(0, 0, 0, 0);
        padding: 20px;
    }
</style>
</head>
<body>
{% if X %}
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="/">FARMACIA</a>
                    <li><a href="/productsperclient">Productos por cliente</a></li>
                    <li><a href="/clientsperproduct">Clientes por producto</a></li>
                    <li><a href="/mostselledproducts">Productos más vendidos</a></li>
                    <li><a href="/clientsexpendedmoremoney">Mejores clientes</a></li>
                  </ul>
                </div>
        </nav>
<form method="POST" action="{{ url_for('createAccount') }}">
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>
{{ account.password.label }}
{{ account.password }}<br>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}
<input type="submit" action="submit">
{% else %}
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">FARMACIA</a>
            <li><a href="/productsperclient">Productos por cliente</a></li>
            <li><a href="/clientsperproduct">Clientes por producto</a></li>
            <li><a href="/mostselledproducts">Productos más vendidos</a></li>
            <li><a href="/clientsexpendedmoremoney">Mejores clientes</a></li>
          </ul>
        </div>
</nav>
<form method="POST" action="{{ url_for('createAccount') }}">
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>

<p>Nombre de usario no disponible</p>

{{ account.password.label }}
{{ account.password }}<br>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}
<input type="submit" action="submit">
{% endif %}

</form>
</body>
</html>

{% endblock %}