{% extends "bootstrap/base.html" %}
{% block content %}
<html>
<head>
<style>
    tabla, th, td {
        border: 1px solid black;
        text-align: center;
        border-collapse: solid black;
    }
    .center {
        text-align: center;
        margin: auto;
        width: 80%;
        border: 3px solid rgba(0, 0, 0, 0);
        padding: 20px;
    }
</style>
</head>
<body>

{% if W %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">&#10009; FARMASOFT</a>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/createaccount">Registrarse</a></li>
    </ul>
  </div>
</nav>
<form method="POST" action="{{ url_for('createAccount') }}">
<DIV class=center>
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>
<p>Nombre de usario no disponible</p>
{{ account.password.label }}
{{ account.password }}<br>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}<br>
<input type="submit" action="submit">
</DIV>
{% elif Y %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">&#10009; FARMASOFT</a>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/createaccount">Registrarse</a></li>
    </ul>
  </div>
</nav>
<form method="POST" action="{{ url_for('createAccount') }}">
<DIV class=center>
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>
{{ account.password.label }}
{{ account.password }}<br>
<p>Debe ingresar una contraseña</p>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}<br>
<input type="submit" action="submit">
</DIV>
</DIV>
{% elif Z %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">&#10009; FARMASOFT</a>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/createaccount">Registrarse</a></li>
    </ul>
  </div>
</nav>
<form method="POST" action="{{ url_for('createAccount') }}">
<DIV class=center>
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>
{{ account.password.label }}
{{ account.password }}<br>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}
<p>La contraseña no coincide</p><br>
<input type="submit" action="submit">
</DIV>
{% else %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="/">&#10009; FARMASOFT</a>
      <li><a href="/login">Ingresar</a></li>
      <li><a href="/createaccount">Registrarse</a></li>
    </ul>
  </div>
</nav>
<form method="POST" action="{{ url_for('createAccount') }}">
<DIV class=center>
{{ account.csrf_token }}
{{ account.username.label }}
{{ account.username }}<br>
{{ account.password.label }}
{{ account.password }}<br>
{{ account.passwordConfirmation.label }}
{{ account.passwordConfirmation }}<br>
<input type="submit" action="submit">
</DIV>
{% endif %}

</form>
</body>
</html>

{% endblock %}