{% extends "bootstrap/base.html" %}
{% block content %}
<html>
<head>
    <style>
            .center {
                text-align: center;
                margin: auto;
                width: 80%;
                border: 3px solid rgba(0, 0, 0, 0);
                padding: 20px;
            }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <a class="navbar-brand" href="/">&#10009; FARMACIA</a>
                <li><a href="/productsperclient">Productos por cliente</a></li>
                <li><a href="/clientsperproduct">Clientes por producto</a></li>
                <li><a href="/mostselledproducts">Productos más vendidos</a></li>
                <li><a href="/clientsexpendedmoremoney">Mejores clientes</a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            <li><a href="/profile"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
            </ul>
        </div>
</nav>
<form method='POST' action="{{ url_for('passwordChange') }}">
<DIV class=center>
<h2>Actualización/cambio de contraseña</h2><br>
{{ passwordChange.csrf_token }}
{{ passwordChange.password.label}}
{{ passwordChange.password}}<br>
{% if Y %}
<p>Ingrese contraseña</p>
{% endif %}
{% if W %}
<p>Las contraseñas no son iguales</p>
{% endif %}
{% if Z %}
<p>La contraseña es igual a la anterior</p>
{% endif %}
{{ passwordChange.passwordConfirmation.label}}
{{ passwordChange.passwordConfirmation}}<br>
{{ passwordChange.submit_test }}<br>
{{ passwordChange.test1 }}
<input type='submit' action='submit' value='Aceptar'>
</DIV>
</form>
</body>
</html>
{% endblock %}