{% extends "bootstrap/base.html" %}
{% block content %}
<html>
<head>
    <style>
            tabla, th, td {
                border: 1px solid black;
                text-align: center;
                border-collapse: solid black;
            }
            .center {
                text-align: center;
                margin: auto;
                width: 80%;
                border: 3px solid rgba(0, 0, 0, 0);
                padding: 20px;
            }
    </style>
</head>
<body>
<form method='POST' action="{{ url_for('passwordChange') }}">

{{ passwordChange.csrf_token }}
{{ passwordChange.username.label }}
{{ passwordChange.username }}<br>
{{ passwordChange.password.label}}
{{ passwordChange.password}}<br>
{{ passwordChange.passwordConfirmation.label}}
{{ passwordChange.passwordConfirmation}}<br>
{{ passwordChange.submit_test }}<br>
{{ passwordChange.test1 }}

<input type='submit' action='submit'>

</form>
</body>
</html>
{% endblock %}